/* Footer.css */
.footer {
  background-color: #000;
  width:100%;
  color: #fff;
  padding: 100px 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  padding: 0 80px;
}

.footer-section-logo {
  flex: 1 1 300px;
  max-width: 400px;
}

.footer-logo {
  display: flex;
  align-items: end;
  gap: 14px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.footer-tagline {
  font-size: 18px;
  font-style: italic;
  color: #f1f1f1;
  margin-top: 6px;
}

.footer-section-contact {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.footer-section {
  min-width: 120px;
  text-align: right;
}

.footer-section h4 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #777;
}

.bb-logo {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 100px;
  margin-bottom: 20px;
}
.bb-logo img {
  width:150px;
}
