@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

:root {
  --default: #00ffc3;
  --hover: #efceff;
  --size: 80px;
  --distance: calc(var(--size) * -0.8);
  --spring-easing: linear(
    0,
    0.807 3.1%,
    1.234 5.2%,
    1.391,
    1.505,
    1.576 8.3%,
    1.596,
    1.607 9.4%,
    1.608,
    1.606 10.1%,
    1.589,
    1.557,
    1.508 12.3%,
    1.45 13.8%,
    1.2 16%,
    1.057 17.5%,
    0.96 19.6%,
    0.94,
    0.925,
    0.91,
    0.9 23.4%,
    0.901,
    0.905,
    0.915 25.3%,
    0.93 26.1%,
    0.969 27.6%,
    1.02 31.5%,
    1.042 33.3%,
    1.052,
    1.058,
    1.065,
    1.07 37.6% 38.9%,
    1.067 40.3%,
    1.053 41.9%,
    1.011 45.7%,
    0.993,
    0.98,
    0.974 51.7% 53.1%,
    0.977 54.6%,
    1.002 61.8%,
    1.007,
    1.009 65.7%,
    1.015 70.9%,
    1.01 75.9%,
    1.005 85%,
    0.995 92.7%,
    0.98 100%
  );
  --duration: 3s;
  --white: #fff;
  --blue: #daecff;
  --green: #d5ffda;
  --yellow: #fffcec;
  --pink: #ffd5ec;
  --container: #000;
  --bg: #fff;
  --background-color: #18181b;

  --card-background-color: rgba(255, 255, 255, 0.015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #ffffff;
  --card-icon-color: #d4d4d8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-hover-icon-color: #34d399;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
  --blur-opacity: 0.01;
  --text-color: #000000;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bg);
  animation: bg 30s infinite;
}

input {
  height: 30px;
}

.wrapper .header-fixed.visible {
  padding: 20px;
}

.wrapper {
  display: flex;
  gap:4rem;
  height:100%;
  flex-direction: column;
}

.app {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 0;
  border-radius: 28px 28px 0 0;
  margin: auto;
  padding-top: 15px;
  transition: transform 1s ease;
  transition-delay: 0.3s;
  background: url("https://d33wubrfki0l68.cloudfront.net/1e0fc04f38f5896d10ff66824a62e466839567f8/699b5/images/hero/3/background-pattern.png");
  transform: scale(1);
}

.scale-down {
  transform: scale(0.9);
}

.body {
  transform-origin: top;
  transform: scaleY(0.8) scaleX(1.05);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    opacity 0.4s ease-in-out, max-width 0.4s ease-in-out,
    max-height 0.6s ease-in-out;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}

.body.open {
  opacity: 1;
  transform: scaleY(1) scaleX(1);
  max-height: 2000px; /* adjust as needed */
  max-width: 1400px;
  pointer-events: auto;
  z-index: 999;
}

.body.closing {
  opacity: 0;
  transform: scaleY(0.8) scaleX(0.95);
  max-height: 0;
  pointer-events: none;
}

.header {
  background: black;
  color: white;
  display: flex;
  min-height: 30px;
  min-width: 80%;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: min-width 0.2s ease-in-out;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.main-content-holder.hidden {
  display: none;
}

.main-content-holder {
  display:flex;
  height:100%;
}

.main-content-holder .hero img {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hero-container {
  min-width: 100%;
}

.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 30px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 40%;
  transition-duration: 0.5s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: scale(1.1);
}

.main {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px); /* subtle movement on reveal */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s; /* delay hiding until after fade-out */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  border-radius: 30px 50px 50px 30px;
  gap: 2rem;
  background: #ebedef;
  padding: 40px 45px 0 50px;
  overflow: hidden;
}

.main-top {
  position: relative;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  color: #18222f;
}

.description {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 79px;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  width: 190px;
  padding: 10px;
  padding-top: 30px;
  background: #18222f;
  border-radius: 55px 0 0 55px;
  z-index: 999;
  transition: all 0.8s ease;
}

.nav.expanded {
  width: 100%;
  border-radius: 55px;
  mask: radial-gradient(100px at 100% 10px, #ac393900 98%, #863333);
}

.nav.expanded .main {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0s; /* show immediately when expanding */
}

.container-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  z-index: 999;
}

.container-left-top,
.container-left-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.container-left-top img {
  height: 100px;
  width: 100px;
  border-radius: 20px 0 0 0;
}

.container-left-bottom {
  position: relative;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.header-left .logo {
  height: 40px;
  width: 40px;
  margin: 0;
  margin-left: 20px;
}

.nav-left h3 {
  font-size: 16px;
  margin-bottom: 3px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  justify-content: flex-start;
  align-content: flex-start;
  color: white;
  padding: 20px 0;
  z-index: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 0px;
  margin-bottom: 0;

  @media (max-width: 940px) {
    flex-direction: column;
    align-items: center;
  }

  .item {
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s ease-out;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 11px;
    margin: 5px 0;

    &.active {
      color: #fff;
    }
  }

  .indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
  }
}

.lesson-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lesson-hero p,
.top-header h1 {
  color: #18222f;
  padding-bottom: 0;
}

.lesson-hero h {
  width: 50px;
}

.lesson-hero p {
  text-align: justify;
  padding-left: 0;
  padding-top: 0;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  width: 50px;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  background-color: #111;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.close-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

.close-btn:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.lesson-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: flex-start;
  align-content: flex-start;
  background: transparent;
  width: 100%;
  max-height: 100%;
  transition: all 0.3s ease;
  border-radius: 15px;
  gap: 1rem;
  margin: 2% 0;
  margin-top: 1%;
  padding: 0;
  padding-bottom: 2%;
  z-index: 999;
}

.app.tight {
  background-color: #000;
  opacity: 0.9;
  transform: scale(0.5);
}

/* Card */
.lesson-card-grid {
  position: relative;
  width: 300px;
  height: 250px;
  display: grid;
  place-items: center;
  border-radius: 40px;
  overflow: hidden;
  color: white;
}

.lesson-grid:hover .lesson-card,
.lesson-grid:hover .lesson-card-wrapper {
  filter: blur(2px);
  transform: scale(1);
  box-shadow: none;
}

.lesson-grid:hover .lesson-card:hover,
.lesson-grid:hover .lesson-card-wrapper:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

.lesson-card-wrapper.expanded:hover,
.lesson-card-wrapper.expanded .lesson-card:hover {
  box-shadow: none !important;
}

.main-card-content {
  background: white;
  grid-column: 1 / 3;
  grid-row: 1;
  padding: 1.5rem;
  z-index: 1;
  border-radius: 40px 40px 20px 0;
}

.details {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.content {
  background: orange;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  border-radius: 40px 0 0 0;
}

.lesson-card.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.lesson-card-grid.expanded {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  height: 648px;
  width: 100%;
}

.main-top.lesson-expanded .lesson-hero {
  display: none;
}

.tag {
  background: pink;
  color: black;
  font-size: 10px;
  padding: 3px 8px;
  border-radius: 12px;
}

.card-header {
  padding: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  color: #fff;
}

// NEW CARD STYLES

.lesson-card-wrapper {
  flex: 0 0 auto;
  border-radius: 12px;
  background: linear-gradient(to right, #f2f2f2, #dcdcdc, #b9b9b9);
  padding: 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.1s ease-in-out;
}

.lesson-card-wrapper.expanded.correct,
.lesson-card-wrapper.expanded.correct:hover {
  background: linear-gradient(to right, #97ff00, #64ff00, #00ff42);
  box-shadow: #22c55e 0px 0px 5px;
}

.lesson-card-wrapper.expanded.incorrect,
.lesson-card-wrapper.expanded.incorrect:hover {
  background: linear-gradient(to right, #ff3535, #eb1915, #d30101);
  box-shadow: #d30101 0px 0px 5px;
}

.lesson-card-wrapper.expanded {
  flex: 1 1 100%;
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 27px 12px;
  background: #f2f2f2;
  box-shadow: none;
  margin-right: 30px;
}

.lesson-card-wrapper:hover {
  background-size: 400% 400%;
  animation: backgroundAnimation 4s ease infinite;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.lesson-card-wrapper.expanded:hover {
  background-size: initial;
  animation: none;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.lesson-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  padding-top: 2rem;
  position: relative;
  cursor: pointer;
  width: 222px;
  height: 200px;
  overflow: hidden;
}

.lesson-card.expanded {
  width: 100%;
  height: 100%;
  cursor: default;
  padding: 1rem 2rem;
  border-radius: 10px 10px 25px 10px;
}

.lesson-card.expanded:hover {
  box-shadow: none;
}

.lesson-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: rotate(15deg);
  background-image: linear-gradient(
      90deg,
      rgba(128, 128, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(0deg, rgba(128, 128, 255, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: gridPan 6s linear infinite;

  /* Fade from top-left to bottom-right */
mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
     mask-size: 100% 50%;
  mask-repeat: no-repeat;
  mask-position: right top, left bottom;
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: right top, left bottom;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 0;
}

.lesson-card:hover::before {
  opacity: 1;
}

@keyframes gridPan {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40px, -20px);
  }
}

.module-header-wrapper.hidden,
.module-hero.hidden {
  display: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.lesson-date {
  font-size: 0.75rem;
  color: #6b7280;
}

.lesson-grid.grid-expanded .lesson-date {
  font-size: 0.9rem;
}

.lesson-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #111827;
}

.lesson-grid.grid-expanded .lesson-title {
  font-size: 2rem;
}

.lesson-grid.grid-expanded {
  min-width: 100%;
  padding-bottom: 0;
  margin: 0;
}

.lesson-card-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lesson-grid.grid-expanded .lesson-card-header {
  height: 150px;
}

.lesson-subtitle {
  font-size: 0.875rem;
  color: #374151;
}

.lesson-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.lesson-tag {
  background-color: #f3e8ff;
  color: #7e22ce;
  font-size: 0.6rem;
  padding: 0.15rem 0.425rem;
  border-radius: 9999px;
  white-space: nowrap;
}

.lesson-grid.grid-expanded .lesson-tag {
  font-size: 1rem;
  padding: 0.25rem 0.725rem;
  margin-top: 0.5rem;
}

.lesson-toggle-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-right: 4rem;
}

.lesson-toggle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1.1rem;
  font-size: 0.85rem;
  font-weight: 700;
  color: black;
  background-color: #f4f4f4;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.lesson-toggle-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #111827;
}

.lesson-toggle-button:hover {
  background-color: #45c1ff;
}

.lesson-toggle-button.active {
  background-color: #45c1ff;
  color: #000000;
}

.lesson-expanded-content {
  margin-top: 0.75rem;
  min-width: 100%;
}

.lesson-example-text {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  color: #4b5563;
}

.lesson-task-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1f2937;
}

.lesson-task-list {
  list-style: circle inside;
  line-height: 150%;
  font-size: 1rem;
  padding-left: 0.8rem;
  margin-bottom: 1.2rem;
  color: #4b5563;
  margin-top: 0.5rem;
}

.lesson-task-list ul {
  list-style-position: inside;
}

.lesson-toggle-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  text-align: right;
}

.toggle-arrow {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.8s ease;
}

.toggle-arrow:hover,
.toggle-arrow.open .toggle-arrow:hover {
  transform: scale(1.2);
  background-color: #f4f4f4;
  color: #45c1ff;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.toggle-arrow.open {
  transform: rotate(180deg);
  width: 2rem;
  height: 2rem;
}

.hero-image {
  height: 550px;
  width: 700px;
  object-fit: cover;
}

// --------------------------------------------------
// ----------------- CONSOLE ------------------------
// --------------------------------------------------

.console {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #000;
  gap: 10px;
  color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-family: monospace;
  max-width: 100%;
  min-height: 400px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.console-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.console-lights {
  display: flex;
  gap: 0.5rem;
}

.light {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
}

.red {
  background-color: #ef4444;
}
.yellow {
  background-color: #facc15;
}
.green {
  background-color: #22c55e;
}

.console-title {
  font-size: 0.875rem;
  color: #ffffff;
}

.console-body {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}

.console-input {
  width: 100%;
  min-height: 150px;
  background: transparent;
  color: #ffffff;
  resize: none;
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 0.75rem;
}

.console-code {
  white-space: pre-wrap;
  color: #ffffff;
  font-size: 0.75rem;
  margin-top: 1rem;
  min-height: 150px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.card-toggle {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
  gap: 0.25rem;
}

.console-button {
  background-color: #45c1ff;
  color: #ffffff;
  font-size: 0.675rem;
  font-weight: bolder;
  padding: 0.35rem 0.75rem;
  border: solid 1px transparent;
  border-radius: 0.4rem;
  margin-top: 1rem;
  cursor: pointer;
  width: 3rem;
}

.console-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px black, 0 0 0 4px #45c1ff;
}

.console-button:hover {
  background-color: #f4f4f4;
  color: #000000;
}

.card-toggle button {
  background-color: #22c55e;
  color: white;
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 5rem;
  transform: translateY(2px);
}

.card-toggle button:hover {
  background-color: #f6f6f6;
  color: #16a34a;
}

.card-toggle button:active {
  background-color: #f6f6f6;
  color: #16a34a;
}

.console-output {
  white-space: pre-wrap;
  min-height: 4rem;
  font-size: 0.75rem;
}

.output-label {
  display: block;
  margin-bottom: 0.25rem;
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 0.7rem;
  border-top: 1px solid gray;
  padding: 0.5rem 0;
}

.hero-title {
  font-size: 100px;
}

.hero-bg {
  background: #ffffff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(227, 250, 255, 0.5) 70%
  );
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 4rem;
  width: 100%;
  padding: 2rem;
  margin: auto;
  min-height: 900px;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.container-left {
  width: 10%;
  min-height: 900px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.container-left.condensed {
  width: 5%;
}

.container-left.condensed .sidebar {
  padding: 1rem;
  padding-top: 1.5rem;
}

.container-left.condensed .sidebar .menu,
.container-left.condensed .sidebar .Btn {
  display: none;
}

.container-left.condensed .sidebar .logo {
  height: 30px;
  width: 30px;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  border-radius: 20px;
  max-height: 100%;
  width: 100%;
  padding: 2rem;
  background: #000000;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.4);
}

.sidebar .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;

  .item {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    width: fit-content;
    border-radius: 2rem;
  }
}

.sidebar .logo {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.container-right {
  width: 90%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0;
}

.module-header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  height: fit-content;
  background-color: transparent;
}

.module-image.large {
  width: 100%;
  opacity: 0.04;
  transform: translateY(32px) translateX(30px);
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.module-header-left {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  border-radius: 16px;
}

.left-top {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 2rem;
  background: #f4f4f4;
  border-radius: 20px;
}

.left-content {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}
.module-welcome {
  color: black;
  font-size: 2.2rem;
  text-shadow: 3px 2px 22px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0;
}

.module-name {
  color: black;
  font-size: 1.5rem;
  text-shadow: 3px 2px 22px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding-left: 0.5rem;
  margin: 0;
}

.module-header-left .summary {
  width: 100%;
  line-height: 25px;
  font-size: 0.85rem;
}

.large-info {
  display: flex;
  font-size: 3rem;
  color: #000000;
  width: 50%;
  justify-content: center;
}

.small-info {
  text-wrap: wrap;
  color: #000000;
  font-size: 1rem;

  width: 100px;
  width: 50%;
}

.main-content-holder {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  top: 60px;
  color: black;
  z-index: 0;
}

.main-content-holder h1 {
  font-weight: bold;
}

.module-header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  font-weight: bold;
  padding: auto 0;
  height: 10rem;
}

.time,
.quantity {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0;
  height: 8rem;
  width: 12rem;
  background: #f4f4f4;
  color: #7e22ce;
  font-size: 0.9rem;
  padding: 1.5rem 0.75rem;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.time svg,
.quantity svg {
  position: absolute;
  right: -2rem;
  bottom: -3rem;
  height: 150px;
  width: 150px;
  opacity: 0.05;
}

.module-hero {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding: 4% 0;
  padding-bottom: 0;
}

.module-hero h1 {
  color: #000000;
  font-size: 1.5rem;
}

.footer-section a {
  color: black;
  text-decoration: underline;
}

.footer-bottom {
  margin: 0 100px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

.footer-bottom a {
  color: black;
  text-decoration: underline;
}

.popover-container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border: none;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 7% 5%;
  z-index: 1000;
  animation: fadeIn 0.4s ease-in-out;
}

.popover-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 40px;
  background: #f6f6f6;
  box-shadow: rgba(17, 12, 46, 0.3) 0px 48px 100px 0px;
}

.popover-header .logo {
  height: 40px;
  width: 40px;
}

.popover-header .module-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// MEDIA QUERIES

@media (max-width: 1540px) {
  .module-header-wrapper {
    gap: 1rem;
  }

  .module-header-left {
    width: 80%;
    height: 12rem;
  }
  .module-header-right {
    flex-direction: column;
    height: 12rem;
  }

  .module-welcome,
  .module-header-left .summary {
    width: 100%;
  }
  .left-top {
    height: 100%;
  }
  .left-content {
    gap: 1rem;
    width: 60%;
  }

  .right-content {
    width: 40%;
  }
  .module-welcome {
    color: black;
    font-size: 2.2rem;
    text-shadow: 3px 2px 22px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 0;
  }

  .time,
  .quantity {
    height: 6rem;
  }
}

@media (max-width: 1420px) {
  .module-header-wrapper {
    gap: 1rem;
    height: 12rem;
  }
  .module-header-right {
    flex-direction: column;
    height: 12rem;
  }

  .module-image.large {
    display: none;
  }

  .module-welcome,
  .module-header-left .summary {
    width: 100%;
  }

  .module-header-left .summary {
    font-size: 1rem;
  }

  .left-content {
    gap: 1rem;
    width: 100%;
  }

  .right-content {
    display: none;
  }
  .time,
  .quantity {
    height: 6rem;
  }
}

@media (max-width: 1040px) {
  .module-header-wrapper {
    gap: 1rem;
    height: 12rem;
  }
  .module-header-right {
    flex-direction: column;
  }

  .module-image.large {
    display: none;
  }

  .module-welcome,
  .module-header-left .summary {
    width: 100%;
  }

  .module-header-left .summary {
    font-size: 0.8rem;
  }

  .left-content {
    gap: 1rem;
    width: 100%;
  }

  .right-content {
    display: none;
  }
  .time,
  .quantity {
    height: 6rem;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 100%;
  }
  .module-header-wrapper {
    flex-direction: column;
  }
  .module-header-right {
    flex-direction: row;
  }
  .left-top {
    min-width: 100%;
  }
  .time,
  .quantity {
    height: 6rem;
  }
}
