.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 4rem;
  width: 90%;
  padding: 2rem;
  margin: auto;
  height:100%;
  background: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.container.expanded {
  padding:0;
}

.container-left {
  position:relative;
  width: 8rem;
  min-height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.container-left.condensed {
  display:none;
}

.container-left.condensed .sidebar {
  padding: 1rem;
  padding-top: 1.5rem;
}

.container-left.condensed .sidebar .menu,
.container-left.condensed .sidebar .Btn {
  display: none;
}

.container-left.condensed .sidebar .logo {
  height: 30px;
  width: 30px;
}

.container-right.expanded {
  padding:0;
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-radius: 20px;
  max-height: 100%;
  width: 100%;
  padding: 2rem;
  background: #000000;
  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.4);
}

.sidebar .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;

  .item {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    padding: 5px;
    width: fit-content;
    border-radius: 2rem;
  }
}

.sidebar .logo {
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

.container-right {
  width: 100%;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0;
}

.module-header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  height: fit-content;
  background-color: transparent;
}

.module-image.large {
  width: 100%;
  opacity: 0.04;
  transform: translateY(32px) translateX(30px);
  z-index: 0;
  pointer-events: none;
  user-select: none;
}

.module-header-left {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 70%;
  border-radius: 16px;
}

.left-top {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 2rem;
  background: #f4f4f4;
  border-radius: 20px;
}

.left-content {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}
.module-welcome {
  color: black;
  font-size: 3rem;
  text-shadow: 3px 2px 22px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0;
}

.module-name {
  color: black;
  font-size: 1.5rem;
  text-shadow: 3px 2px 22px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding-left: 0.5rem;
  margin: 0;
}

.module-header-left .summary {
  width: 100%;
  line-height: 25px;
  font-size: 0.85rem;
  color:#000;
}

.large-info {
  display: flex;
  font-size: 3rem;
  color: #000000;
  width: 50%;
  justify-content: center;
}

.small-info {
  text-wrap: wrap;
  color: #000000;
  font-size: 1rem;

  width: 100px;
  width: 50%;
}

.main-content-holder {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  top: 60px;
  color: black;
  z-index: 0;
}

.main-content-holder h1 {
  font-weight: bold;
}

.module-header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  align-content: center;
  font-weight: bold;
  padding: auto 0;
  height: 10rem;
}

.time,
.quantity {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0;
  height: 8rem;
  width: 12rem;
  background: #f4f4f4;
  color: #7e22ce;
  font-size: 0.9rem;
  padding: 1.5rem 0.75rem;
  border-radius: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.time svg,
.quantity svg {
  position: absolute;
  right: -2rem;
  bottom: -3rem;
  height: 150px;
  width: 150px;
  opacity: 0.05;
}

.module-hero {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding: 4% 0;
  padding-bottom: 0;
}

.module-hero h1 {
  color: #000000;
  font-size: 2rem;
}

.footer-section a {
  color: black;
  text-decoration: underline;
}

.footer-bottom {
  margin: 0 100px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

.footer-bottom a {
  color: black;
  text-decoration: underline;
}

.popover-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:2rem;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.625);
  backdrop-filter: blur(40px);
  border: none;
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 10rem 5rem;
  padding-top:5rem;
  z-index: 1000;
  animation: fadeIn 0.4s ease-in-out;
}

.container-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.container-logo {
  height: 50px;
  width: 50px;
}

.popover-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 40px;
  background: #f6f6f6;
  box-shadow: rgba(17, 12, 46, 0.3) 0px 48px 100px 0px;
}

.popover-header .logo {
  height: 40px;
  width: 40px;
}

.popover-header .module-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
