.footer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  color: #fff;
  width:100%;
  height:30rem;
  padding: 2rem 5rem;
  margin-top:6rem;
  font-family: system-ui, sans-serif;

  .footer-container, .footer-bottom {
    min-width: 60%;
    margin:6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  .footer-bottom {
    margin-top:3rem;
    margin-bottom:2rem;
  }

  .social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;

    span {
      cursor: pointer;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: #d57bff; // highlight on hover
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .footer-section-logo {
    flex: 1 1 300px;

    .footer-logo {
      display: flex;
      align-items: end;
      gap: 0.75rem;
      margin-bottom: 0.5rem;

      .logo {
        height: 50px;
        width: auto;
      }

      span {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }

    .footer-tagline {
      font-size: 0.95rem;
      color: #ccc;
    }
  }

  .footer-section-contact {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

  .footer-section {
    text-align: right;
  }

    .footer-section {
      h4 {
        font-size: 1rem;
        color: #d57bff;
        font-weight: 600;
        margin-bottom: 0.5rem;
        min-width: 120px;
        text-align: right;

      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 0.95rem;

        &:hover {
          color: #d57bff; // highlight on hover
        }
      }
    }
  }

  .footer-bottom {

    .bb-logo {
      height: 40px;
      width: auto;
    }
  }
}
