.success-failure-message {
  position: relative;
  display: flex;
  color:#000000;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  gap: 4rem;
  width: 30rem;
  padding: 2rem;
  margin: auto;
  background: #ffffff;
  border-radius: 20px;
}
.success-failure-message h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.success-failure-message p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.success-failure-message .btn {
  width: 10rem;
  margin: auto;
}

.success-message, .failure-message {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.popup-buttons {
  display: flex;
  gap: 1rem;
  width:100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top:2rem;
}

.popup-buttons button {
  min-width: 7rem;
}

.next-lesson-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkmark {
  color:#44e300
}

.crossmark {
  color:#ff0000
}


